

/* CSS Reset*/
*{
	box-sizing: border-box;
}

html, body, h1, h2, h3,h4, h5,h6, p{
	margin: 4px;
}

/*LAYOUT*/
body{
	background-color: #000000;
	color: #FFFFFF;
	font-family: 'Ropa Sans', sans-serif;
}

/*
img{ position: absolute;
	width: 200px;
	height: auto;
	margin-left: 160px;
	margin-top: -96px;
	margin-right: auto;
	margin-bottom:auto;
	float-left;
	}
	*/

 .gap21 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gap22 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gap23 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gap24 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gap25 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gap26 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gap27 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gap28 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gap29 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gap210 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gap211 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gap212 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gap213 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}


/*Bild über logo
	#blend { position: relative }

	#blend img#top:hover { opacity:0 }

	#blend img { position: absolute; 
    top: 0; left: 0; opacity: 1;    
    transition: opacity 1s
}

BEI HTML EINFÜGEN UNTER SECTION
<div id="blend" style="width:200px; auto;">
							<img src="logo2.jpg" alt="Call of Duty Ghosts" />
							<img id="top" src="logo.jpg"  />
					</div>


*/
/*ANIMATIONS*/

h2:hover {
  	-webkit-transition: all 0.5s;
  	-o-transition: all 0.5s;
  	transition: all 0.5s;



  	-webkit-transform: scale(1.1,1.1);
  	-ms-transform: scale(1.1,1.1);
  	-o-transform: scale(1.1,1.1);
  	transform: scale(1.1,1.1);

  	text-shadow: 3px 3px 8px rgb(100,100,100);
  	color: #a2e38a;


  }


  h3:hover {
  	-webkit-transition: all 0.5s;
  	-o-transition: all 0.5s;
  	transition: all 0.5s;



  	-webkit-transform: scale(1.1,1.1);
  	-ms-transform: scale(1.1,1.1);
  	-o-transform: scale(1.1,1.1);
  	transform: scale(1.1,1.1);

  	text-shadow: 3px 3px 8px rgb(100,100,100);
  color: #e00e4c;
  }
 

/*kästen*/
.ueberGruppe{
	
	height: 666px;
	width: 962px;
	margin-left: 1px;
	margin-top: 1px;
	margin-right: auto;
	margin-bottom: auto;
}
	
.gap03{
	width:150px;
	height:564px;
	margin-top:100px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float: left;
}

	

.gap1{
	
	width:100px;
	height:96px;
	margin-top:48px;
	margin-right: 45px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}



.gap2{
	
	width:150px;
	height:564px;
	margin-top:48px;
	margin-right: 0px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;


}

/*klasse für den gamemode zum klicken*/

.gap01{
	color: #FFFFFF;
	cursor: pointer;

}.gap02{
	color: #FFFFFF;
	cursor: pointer;
}
.gap21{
	color: #FFFFFF;
	cursor: pointer;
}

.gap22{
	color: #FFFFFF;
cursor: pointer;
}
.gap23{
	color: #FFFFFF;
cursor: pointer;
}
.gap24{
	color: #FFFFFF;
cursor: pointer;
}
.gap25{
	color: #FFFFFF;
cursor: pointer;
}
.gap26{
	color: #FFFFFF;
cursor: pointer;
}
.gap27{
	color: #FFFFFF;
cursor: pointer;
}
.gap28{
	color: #FFFFFF;
cursor: pointer;
}
.gap29{
	color: #FFFFFF;
cursor: pointer;
}
.gap210{
	color: #FFFFFF;
cursor: pointer;
}
.gap211{
	color: #FFFFFF;
cursor: pointer;
}
.gap212{
	color: #FFFFFF;
cursor: pointer;
}
.gap213{
	color: #FFFFFF;
cursor: pointer;
}


/*spalte 3/ 1reihe gamemode
.gap31{

	width:134px;
	height:564px;
	margin-top:100px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap32{

	width:134px;
	height:564px;
	margin-top:120px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap33{

	width:134px;
	height:564px;
	margin-top:140px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap34{

	width:134px;
	height:564px;
	margin-top:160px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap35{

	width:134px;
	height:564px;
	margin-top:180px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap36{

	width:134px;
	height:564px;
	margin-top:200px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap37{

	width:134px;
	height:564px;
	margin-top:220px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap38{

	width:134px;
	height:564px;
	margin-top:240px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap39{

	width:134px;
	height:564px;
	margin-top:260px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap310{

	width:134px;
	height:564px;
	margin-top:280px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap311{

	width:134px;
	height:564px;
	margin-top:300px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap312{

	width:134px;
	height:564px;
	margin-top:320px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap313{

	width:134px;
	height:564px;
	margin-top:340px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
	<div class="gap31">
							<p> 31Diese Erklärung</p>
							<p>31Regeln/Ziel...</p>
						</div>
						<div class="gap32">
							<p>32Erklärung</p>
							<p>32Regeln/Ziel...</p>
						</div>
						<div class="gap33">
							<p> 33Diese Erklärung</p>
							<p>33Regeln/Ziel...</p>
						</div>
						<div class="gap34">
							<p> 34Diese Erklärung</p>
							<p>34Regeln/Ziel...</p>
						</div>
						<div class="gap35">
							<p> 35Diese Erklärung</p>
							<p>35Regeln/Ziel...</p>
						</div>
						<div class="gap36">
							<p> 36Diese Erklärung</p>
							<p>36Regeln/Ziel...</p>
						</div>
						<div class="gap37">
							<p> 37Diese Erklärung</p>
							<p>37Regeln/Ziel...</p>
						</div>
						<div class="gap38">
							<p> 38Diese Erklärung</p>
							<p>38Regeln/Ziel...</p>
						</div>
						<div class="gap39">
							<p> 39Diese Erklärung</p>
							<p>39Regeln/Ziel...</p>
						</div>
						<div class="gap310">
							<p> 310Diese Erklärung</p>
							<p>310Regeln/Ziel...</p>
						</div>
						<div class="gap311">
							<p> 311Diese Erklärung</p>
							<p>311Regeln/Ziel...</p>
						</div>
						<div class="gap312">
							<p> 312Diese Erklärung</p>
							<p>312Regeln/Ziel...</p>
						</div>
						<div class="gap313">
							<p> 313Diese Erklärung</p>
							<p>313Regeln/Ziel...</p>
						</div>
*/

/*Spalte4/ 1 reihe gamemode*/
.gap41{

	width:274px;
	height:168px;
	margin-top:75px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap42{

	width:274px;
	height:168px;
	margin-top:97px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap43{

	width:274px;
	height:168px;
	margin-top:117px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap44{

	width:274px;
	height:168px;
	margin-top:139px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap45{

	width:274px;
	height:168px;
	margin-top:158px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap46{

	width:274px;
	height:168px;
	margin-top:180px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap47{

	width:274px;
	height:168px;
	margin-top:201px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap48{

	width:274px;
	height:168px;
	margin-top:221px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap49{

	width:274px;
	height:168px;
	margin-top:243px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap410{

	width:274px;
	height:168px;
	margin-top:267px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap411{

	width:274px;
	height:168px;
	margin-top:284px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap412{

	width:274px;
	height:168px;
	margin-top:305px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap413{

	width:274px;
	height:168px;
	margin-top:327px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}

/*Schrift*/
h1{
	font-size: 19px;
}
h2{
	font-size: 15px;
		-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

h3{
	font-size: 15px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

h4{
	font-size: 60px;
}
h5{
	font-size: 30px;
	margin-top: -15px;
	margin-left: 7px;
}
h6{
	font-size: 10px;
	margin-right: 10px;
	margin-top: 10px;
	float: right;
	

}
p{
	font-size: 15px;
}
/*Abstand für erklärung*/
.luecke{
	height: 140px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.fade {
	opacity: 1;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	display: block;
}

/*Copyright*/
.copy{
	font-size: 15px;
	margin-right: 0px;
	margin-top: 7px;
}