

/* CSS Reset*/
*{
	box-sizing: border-box;
}

html, body, h1, h2, h3, p{
	margin: 4px;
}

/*LAYOUT*/
body{
	background-color: #000000;
	color: #FFFFFF;
	font-family: 'Ropa Sans', sans-serif;
}


img{ position: absolute;
	width: 200px;
	height: auto;
	margin-left: 160px;
	margin-top: -96px;
	margin-right: auto;
	margin-bottom:auto;
	float-left;
	}

 .gap21 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gap22 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gap23 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gap24 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gap25 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gap26 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gap27 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gap28 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gap29 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gap210 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gap211 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gap212 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gap213 {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}


/*Bild über logo*/
	#blend { position: relative }

	#blend img#top:hover { opacity:0 }

	#blend img { position: absolute; 
    top: 0; left: 0; opacity: 1;    
    transition: opacity 1s
}

/*ANIMATIONS*/

h2:hover {
  	-webkit-transition: all 0.5s;
  	-o-transition: all 0.5s;
  	transition: all 0.5s;



  	-webkit-transform: scale(1.1,1.1);
  	-ms-transform: scale(1.1,1.1);
  	-o-transform: scale(1.1,1.1);
  	transform: scale(1.1,1.1);

  	text-shadow: 3px 3px 8px rgb(100,100,100);
  	color: #a2e38a;


  }


  h3:hover {
  	-webkit-transition: all 0.5s;
  	-o-transition: all 0.5s;
  	transition: all 0.5s;



  	-webkit-transform: scale(1.1,1.1);
  	-ms-transform: scale(1.1,1.1);
  	-o-transform: scale(1.1,1.1);
  	transform: scale(1.1,1.1);

  	text-shadow: 3px 3px 8px rgb(100,100,100);
  color: #e00e4c;
  }
 

/*kästen*/
.ueberGruppe{
	
	height: 666px;
	width: 962px;
	margin-left: 160px;
	margin-top: 120px;
	margin-right: auto;
	margin-bottom: auto;
}
	
.gap03{
	width:150px;
	height:564px;
	margin-top:100px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
	

.gap1{
	
	width:100px;
	height:96px;
	margin-top:48px;
	margin-right: 179px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}



.gap2{
	
	width:150px;
	height:564px;
	margin-top:48px;
	margin-right: 0px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;


}

/*klasse für den gamemode zum klicken*/

.gap01{
	color: #FFFFFF;

}.gap02{
	color: #FFFFFF;

}
.gap21{
	color: #FFFFFF;

}

.gap22{
	color: #FFFFFF;

}
.gap22{
	color: #FFFFFF;

}
.gap24{
	color: #FFFFFF;

}
.gap25{
	color: #FFFFFF;

}
.gap26{
	color: #FFFFFF;

}
.gap27{
	color: #FFFFFF;

}
.gap28{
	color: #FFFFFF;

}
.gap29{
	color: #FFFFFF;

}
.gap210{
	color: #FFFFFF;

}
.gap211{
	color: #FFFFFF;

}
.gap212{
	color: #FFFFFF;

}
.gap213{
	color: #FFFFFF;

}


/*spalte 3/ 1reihe gamemode*/
.gap31{

	width:134px;
	height:564px;
	margin-top:100px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap32{

	width:134px;
	height:564px;
	margin-top:120px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap33{

	width:134px;
	height:564px;
	margin-top:140px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap34{

	width:134px;
	height:564px;
	margin-top:160px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap35{

	width:134px;
	height:564px;
	margin-top:180px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap36{

	width:134px;
	height:564px;
	margin-top:200px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap37{

	width:134px;
	height:564px;
	margin-top:220px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap38{

	width:134px;
	height:564px;
	margin-top:240px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap39{

	width:134px;
	height:564px;
	margin-top:260px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap310{

	width:134px;
	height:564px;
	margin-top:280px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap311{

	width:134px;
	height:564px;
	margin-top:300px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap312{

	width:134px;
	height:564px;
	margin-top:320px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap313{

	width:134px;
	height:564px;
	margin-top:340px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}


/*Spalte4/ 1 reihe gamemode*/
.gap41{

	width:274px;
	height:168px;
	margin-top:100px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap42{

	width:274px;
	height:168px;
	margin-top:120px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap43{

	width:274px;
	height:168px;
	margin-top:140px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap44{

	width:274px;
	height:168px;
	margin-top:160px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap45{

	width:274px;
	height:168px;
	margin-top:180px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap46{

	width:274px;
	height:168px;
	margin-top:200px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap47{

	width:274px;
	height:168px;
	margin-top:220px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap48{

	width:274px;
	height:168px;
	margin-top:240px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap49{

	width:274px;
	height:168px;
	margin-top:260px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap410{

	width:274px;
	height:168px;
	margin-top:280px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap411{

	width:274px;
	height:168px;
	margin-top:300px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap412{

	width:274px;
	height:168px;
	margin-top:320px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}
.gap413{

	width:274px;
	height:168px;
	margin-top:340px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}

/*Schrift*/
h1{
	font-size: 19px;
}
h2{
	font-size: 15px;
		-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

h3{
	font-size: 15px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

p{
	font-size: 15px;
}
/*Abstand für erklärung*/
.luecke{
	height: 140px;
}
.fade {
	opacity: 1;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	display: block;
}
