

/* CSS Reset*/
*{
	box-sizing: border-box;
}

html, body, h1, h2, h3, p{
	margin: 4px;
}

/*LAYOUT*/
body{
	background-color: #000000;
	color: #FFFFFF;
	font-family: 'Ropa Sans', sans-serif;
}


img{ position: absolute;
	width: 200px;
	height: auto;
	margin-left: 160px;
	margin-top: -96px;
	margin-right: auto;
	margin-bottom:auto;
	float-left;
	}
	

/*Bild über logo*/
	#blend { position: relative }

	#blend img#top:hover { opacity:0 }

	#blend img { position: absolute; 
    top: 0; left: 0; opacity: 1;    
    transition: opacity 1s
}

/*ANIMATIONS*/

h2:hover {
  	-webkit-transition: all 0.5s;
  	-o-transition: all 0.5s;
  	transition: all 0.5s;



  	-webkit-transform: scale(1.1,1.1);
  	-ms-transform: scale(1.1,1.1);
  	-o-transform: scale(1.1,1.1);
  	transform: scale(1.1,1.1);

  	text-shadow: 3px 3px 8px rgb(100,100,100)
  }

  h3:hover {
  	-webkit-transition: all 0.5s;
  	-o-transition: all 0.5s;
  	transition: all 0.5s;



  	-webkit-transform: scale(1.1,1.1);
  	-ms-transform: scale(1.1,1.1);
  	-o-transform: scale(1.1,1.1);
  	transform: scale(1.1,1.1);

  	text-shadow: 3px 3px 8px rgb(100,100,100)
  }


/*kästen*/
.ueberGruppe{
	
	height: 666px;
	width: 962px;
	margin-left: 160px;
	margin-top: 120px;
	margin-right: auto;
	margin-bottom: auto;
	

	
}
.gap1{
	
	width:93px;
	height:96px;
	margin-top:48px;
	margin-right: 179px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}



.gap2{
	
	width:150px;
	height:564px;
	margin-top:48px;
	margin-right: 0px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;


}


.gap3{

	width:134px;
	height:564px;
	margin-top:150px;
	margin-right: 65px;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}

.gap4{

	width:274px;
	height:168px;
	margin-top:150px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	float:left;
}

/*Schrift*/
h1{
	font-size: 19px;
}
h2{
	font-size: 15px;
		-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

h3{
	font-size: 15px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

p{
	font-size: 15px;
}
/*Abstand für erklärung*/
.luecke{
	height: 140px;
}

